@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #fff;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
.card:hover{
    background-color: #272727;
}
.part1{
    position: relative;
}
.img{
    background: url('https://i.ytimg.com/vi/tVzUXW6siu0/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLACwWOixJVrKLFindK92kYMgTcQbw');
    border-radius: 0.6rem;
    height: 7rem;
    width: 12.47rem;
    background-size: contain;
    
}
.img{
    cursor: pointer;
}
.duration{
    position: absolute;
    bottom: 0.5rem;
    right: 0.6rem;
    background-color: #00000083;
    padding: 0.2rem;
    border-radius: 0.4rem;
    font-size: 0.75rem;
}
.duration:hover{
    cursor: pointer;
}
.part2{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0.7rem;
    gap: 0.5rem;
}
.titl a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.others{
    display: flex;
    gap: 0.3rem;
    font-size: 0.75rem;
}
.cnlName a{
    text-decoration: none;
    color: #b1b1b1;
    transition: all 0.13s ease-in-out;
}
.cnlName a:hover{
    color: #fff;
}
.vws, .mons{
    color: #b1b1b1;
}
